[submodule "3rdparty/vk_headers2"]
	path = 3rdparty/vk_headers
	url = https://github.com/KhronosGroup/Vulkan-Headers.git
[submodule "3rdparty/vk_headers"]
	path = 3rdparty/vk_headers
	url = https://github.com/KhronosGroup/Vulkan-Headers.git
